[book]
title = "Logly-rs Documentation"
authors = ["muhammad-fiaz"]
language = "en"
multilingual = false
src = "src"

[build]
build-dir = "book"

[output.html]
default-theme = "rust"
git-repository-url = "https://github.com/muhammad-fiaz/logly-rs"
site-url = "https://muhammad-fiaz.github.io/logly-rs/"
